<div class="main">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Mã</th>
          <th>Tên Sản Phẩm</th>
          <th>Chất Liệu</th>
          <th>Hãng</th>
          <th>Thể Loại</th>
          <th>Trạng Thái</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of listProduct">
          <td>{{ pro.id }}</td>
          <td>{{ pro.name }}</td>
          <td>{{ pro.material }}</td>
          <td>{{ pro.brandName }}</td>
          <td>{{ pro.categoryName }}</td>
          <td>
            <div class="badge badge-primary">
              {{ pro.status == true ? "Đang bán" : "Ngừng bán" }}
            </div>
          </td>
          <td>
            <a
              href=""
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#myEditProduct"
              (click)="getProduct(pro.id)"
              >Sửa</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item">
        <button
          class="page-link"
          (click)="previousPage()"
          [disabled]="currentPage == 0 ? true : false"
        >
          Previous
        </button>
      </li>
      <li class="page-item" *ngFor="let p of totalPagesArray">
        <button class="page-link" (click)="switchPage(p - 1)">{{ p }}</button>
      </li>
      <li class="page-item">
        <button
          class="page-link"
          (click)="nextPage()"
          [disabled]="currentPage == totalPages - 1"
        >
          Next
        </button>
      </li>
    </ul>
    <a
      href=""
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#myAddProduct"
      (click)="resetForm()"
      >Thêm</a
    >
  </div>
</div>

<!-- The Modal Add-->
<div class="modal fade" id="myAddProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm sản phẩm</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formProduct" (ngSubmit)="addProduct()">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <input type="text" class="form-control" formControlName="name" />
            <div *ngIf="name.touched && name.invalid">
              <div class="errors" *ngIf="name.errors?.['required']">
                Tên sản phẩm không được trống*
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Chất Liệu</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="VD: Cotton"
                  formControlName="material"
                />
                <div *ngIf="material.touched && material.invalid">
                  <div class="errors" *ngIf="material.errors?.['required']">
                    Chất liệu không được trống*
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Hình Mẫu</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="VD: Thời Trang"
                  formControlName="model"
                />
                <div *ngIf="model.touched && model.invalid">
                  <div class="errors" *ngIf="model.errors?.['required']">
                    Mẫu không được trống*
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group" formGroupName="brand">
                <label>Hãng</label>
                <select class="form-control" formControlName="id">
                  <option *ngFor="let brand of listBrand" [value]="brand.id">
                    {{ brand.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" formGroupName="category">
                <label>Thể Loại</label>
                <select class="form-control" formControlName="id">
                  <option
                    *ngFor="let category of listCategory"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mô Tả</label>
            <textarea
              cols="30"
              rows="5"
              class="form-control"
              formControlName="description"
            ></textarea>
            <div *ngIf="description.touched && description.invalid">
              <div class="errors" *ngIf="description.errors?.['required']">
                Mô tả không được trống*
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formProduct.invalid"
          >
            Thêm
          </button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="resetForm()"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit-->
<div class="modal fade" id="myEditProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sửa sản phẩm</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formProduct" (ngSubmit)="addProduct()">
          <input type="hidden" formControlName="id" />
          <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <input type="text" class="form-control" formControlName="name" />
            <div *ngIf="name.touched && name.invalid">
              <div class="errors" *ngIf="name.errors?.['required']">
                Tên sản phẩm không được trống*
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Chất Liệu</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="VD: Cotton"
                  formControlName="material"
                />
                <div *ngIf="material.touched && material.invalid">
                  <div class="errors" *ngIf="material.errors?.['required']">
                    Chất liệu không được trống*
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Hình Mẫu</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="VD: Thời Trang"
                  formControlName="model"
                />
                <div *ngIf="model.touched && model.invalid">
                  <div class="errors" *ngIf="model.errors?.['required']">
                    Mẫu không được trống*
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group" formGroupName="brand">
                <label>Hãng</label>
                <select class="form-control" formControlName="id">
                  <option *ngFor="let brand of listBrand" [value]="brand.id">
                    {{ brand.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" formGroupName="category">
                <label>Thể Loại</label>
                <select class="form-control" formControlName="id">
                  <option
                    *ngFor="let category of listCategory"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mô Tả</label>
            <textarea
              cols="30"
              rows="5"
              class="form-control"
              formControlName="description"
            ></textarea>
            <div *ngIf="description.touched && description.invalid">
              <div class="errors" *ngIf="description.errors?.['required']">
                Mô tả không được trống*
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formProduct.invalid"
          >
            Sửa
          </button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="resetForm()"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
